@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PP Pangram Sans";
  src: url("/fonts/Pangram Sans/PPPangramSans_Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PP Pangram Sans";
  src: url("/fonts/Pangram Sans/PPPangramSans_Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "PP Pangram Sans";
  src: url("/fonts/Pangram Sans/PPPangramSans_Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #fff;
  font-family: "PP Pangram Sans", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .wrapper {
    @apply min-h-full flex flex-col;
  }

  .container {
    @apply max-w-full xl:max-w-[1440px] px-6 xl:px-[60px];
  }

  .loader {
    @apply flex align-middle justify-center mt-16;
  }

  .input {
    @apply box-border w-full h-[52px] pt-5 pb-2 border-b border-border outline-none focus:ring-0 text-base font-medium font-pangram text-primary flex items-center;
  }

  .input:-webkit-autofill {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
  }

  .input:focus {
    @apply border-blue;
  }

  .label {
    @apply text-base font-medium font-pangram text-label;
  }

  .peer-placeholder-shown {
    @apply text-base text-label;
  }

  .peer-focus {
    @apply text-sm text-blue border-blue;
  }

  .label_read {
    @apply block mb-1 text-sm leading-129 font-medium font-pangram text-label;
  }

  .input_read {
    @apply block bg-transparent text-base font-medium text-primary;
  }

  .transition-all {
    transition: all 0.2s;
  }

  .swiper-wrapper {
    margin-right: 0 !important; /* Прибираємо зайвий відступ з останнього слайда */
  }

  .swiper-slide:last-child {
    margin-right: 0 !important; /* Прибираємо відступ з останнього слайда */
  }

  .swiper-slide {
    flex-shrink: 0; /* Вимикаємо зтискання слайдів */
  }

  .swiper-wrapper {
    justify-content: flex-start; /* Вирівнюємо по лівій стороні */
  }
}
